.footer {
  background: linear-gradient(to bottom, #0D786C, #0F9D8A, rgb(230, 250, 245)); /* Linear Gradient Background */
  padding: 40px 20px;
  font-size: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 20px;
  
}

.leftColumn, .middleColumn, .rightColumn {
  padding-top:10px;
  flex: 1;
  min-width: 280px;
  margin: 0 20px;
}

.leftColumn {
  text-align: center;
}

.middleColumn {
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}

.rightColumn {
  padding-left: 70px;
  font-size: 20px;
}

.columnTitle {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.linksList {
  list-style-type: none;
  padding: 0;
}

.link {
  display: block;
  margin: 5px 0;
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

.link:hover {
  color: #0D786C;
}

.quote {
  font-size: 1.1rem;
  font-style: italic;
  margin-top: 10px;
  color: #ccc;
}

.footerAnimation {
  display: flex;
  justify-content: center;
}

.footerAnimation svg {
  width: 120px;
  height: 120px;
}

.socialSection {
  margin-top: 20px;
}

.socialLinks {
  margin: 10px 0;
}

.socialLink {
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
}

.socialLink:hover {
  color: #0D786C;
}

footer hr {
  margin: 30px 0;
  border: 0;
  border-top: 1px solid #ccc;
}

.footerBottom {
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.updateSection {
  text-align: center;
  margin-top: 20px;
}

.emailInput {
  padding: 10px;
  width: 250px;
  margin-right: 10px;
}

.subscribeButton {
  padding: 10px;
  background-color: #0D786C;
  color: white;
  border: none;
  cursor: pointer;
}

.subscribeButton:hover {
  background-color: #0F9D8A;
}
