/* Import Dancing Script font */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px; /* Reduced height of navbar */
  background: rgba(13, 120, 108, 0.6); /* Transparent background with RGB color */
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  backdrop-filter: blur(10px); /* Optional: Adds a blur effect to the background */
}

.navbar-left {
  display: flex;
  align-items: center;
  flex: 0 1 auto; /* Keep the animation and title on the left */
}

.navbar-title {
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-transform: uppercase; /* Make "MEMORYHARBOR" all capital */
  margin-left: 10px; /* Reduced space between animation and title */
}

.navbar-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}

.navbar-right ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-right li {
  margin: 0 20px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: color 0.3s ease;
}

.navbar-right li:hover {
  color: #0F9D8A; /* Highlight color on hover */
}

.navbar-right li:first-child {
  margin-left: 0; /* Remove margin from the first item */
}

.navbar-right li:last-child {
  margin-right: 0; /* Remove margin from the last item */
}

/* Styling for Link to remove blue color and underline */
.navbar-right li a {
  text-decoration: none;  /* Remove the underline */
  color: white; /* Make the link text color the same as other list items */
}

.navbar-right li a:hover {
  color: #0F9D8A; /* Apply the same hover color */
}
